body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.form-control {
    max-width: 600px;
    margin-top: 1px;
}

.field-validation-error
{
    color:red;
}

.list-group
{
    height:600px;
    overflow-y:auto;
}

.reportButton {
    margin: 4px;
    width:290px;
}
